body{
    background-color:lightgreen;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1{
    text-align: center;
    background-color:rgb(226, 100, 86);
    color: white;
}
.main-sec{
    display:flex;
    max-width: 100%;
}
.card-1{
    width:16.66%;    /*100/16=16.66 */
    padding: 20px;
    margin:20px;
    text-align: center;
    background-color: rgb(242, 234, 234);
}
@media(max-width:576px)
    {
        .main-sec
        {
            max-width:100%;
            text-align:center;
            margin:20px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
        }
}
.card-1:hover
{
    background-color: red;
    color: rgb(244, 238, 238);
    cursor: pointer;
}

a{
    text-decoration: none;
    color:rgb(255, 147, 147);
}
